@using BookStory.Models
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@{
    ViewBag.Title = "Content";
    Layout = "_StoryLayout";
}
@{
    User u1 = null;
    string json = Context.Session.GetString("user");
    if (json != null) u1 = JsonConvert.DeserializeObject<User>(json);
}
<div id="chapter-big-container" class="container chapter">
    <div class="row">
        <div class="col-xs-12">
            <button type="button"
                    class="btn btn-responsive btn-success toggle-nav-open">
                <span class="glyphicon glyphicon-menu-updownswitch"></span>
            </button>
            <a class="truyen-title"
               href="/Story/Detail/@ViewBag.Chapter.Sid" title="@ViewBag.Chapter.Name">@ViewBag.Chapter.Name</a>
            <h2>
                <a class="chapter-title" href="/Story/Content/@ViewBag.Chapter.Sid/@ViewBag.Chapter.Chapnumber"
                   title="@ViewBag.Chapter.Subname">
                    <span class="chapter-text"><span>@ViewBag.Chapter.Subname</span></span>
                </a>
            </h2>
            <hr class="chapter-start">
            @if (Context.Session.GetString("user") != null)
            {
                if (ViewBag.IsSave == false)
                {
                    <input type="hidden" value="@ViewBag.Chapter.Sid" name="id" id="sid">
                    <input type="hidden" value="@ViewBag.Chapter.Chapnumber" name="id1" id="chapnumber">
                    <button onclick="savechapter()" class="btn btn-success">Lưu chương</button>
                }
                else
                {
                    <input type="hidden" value="@ViewBag.Chapter.Sid" name="id" id="sid">
                    <input type="hidden" value="@ViewBag.Chapter.Chapnumber" name="id1" id="chapnumber">
                    <button onclick="unsavechapter()" class="btn btn-success">Bỏ lưu chương</button>
                }
            }
            else
            {
                <a href="/User/Login/"><button class="btn btn-success">Lưu chương</button></a>
            }
            <div style="margin-top: 30px" class="chapter-nav" id="chapter-nav-top">
                <input type="hidden" id="ten-truyen" value="co-vo-que-mua-tong-tai-tham-sau">
                <div class="btn-group">
                    <a class="btn btn-success btn-chapter-nav @(ViewBag.Chapter.Chapnumber.Equals("1")?"disabled":"")"
                       href="/Story/Content/@ViewBag.Chapter.Sid/@(int.Parse(ViewBag.Chapter.Chapnumber) - 1)" id="prev_chap" data-cid="">
                        <span class="glyphicon glyphicon-chevron-left"></span> <span class="hidden-xs">
                            Chương
                        </span>trước
                    </a>
                    <select class="btn btn-success btn-chapter-nav" onchange="window.location.href=this.value">
                        @foreach (Chapter c in ViewBag.AllChapters)
                        {
                            <option value="/Story/Content/@c.Sid/@c.Chapnumber" @(c.Chapnumber == @ViewBag.Chapter.Chapnumber?"selected":"")>Chương @c.Chapnumber</option>
                        }
                    </select>
                    <a class="btn btn-success btn-chapter-nav @(ViewBag.Chapter.Chapnumber.Equals(ViewBag.AllChapters.Count.ToString())?"disabled":"")"
                       href="/Story/Content/@ViewBag.Chapter.Sid/@(int.Parse(ViewBag.Chapter.Chapnumber) + 1)"
                       id="next_chap" data-cid="2834632">
                        <span class="hidden-xs">Chương </span>tiếp <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div><br />
            <hr class="chapter-end">
            <div id="chapter-c" class="chapter-c">
                @Html.Raw(ViewBag.Chapter.Content)
            </div>
            <hr class="chapter-end">
            @if (Context.Session.GetString("user") != null)
            {
                if (ViewBag.IsSave == false)
                {
                    <input type="hidden" value="@ViewBag.Chapter.Sid" name="id" id="sid">
                    <input type="hidden" value="@ViewBag.Chapter.Chapnumber" name="id1" id="chapnumber">
                    <button onclick="savechapter()" class="btn btn-success">Lưu chương</button>
                }
                else
                {
                    <input type="hidden" value="@ViewBag.Chapter.Sid" name="id" id="sid">
                    <input type="hidden" value="@ViewBag.Chapter.Chapnumber" name="id1" id="chapnumber">
                    <button onclick="unsavechapter()" class="btn btn-success">Bỏ lưu chương</button>
                }
            }
            else
            {
                <a href="/User/Login/"><button class="btn btn-success">Lưu chương</button></a>
            }
            <div style="margin-top: 30px" class="chapter-nav" id="chapter-nav-bot">
                <div class="btn-group">
                    <a class="btn btn-success btn-chapter-nav @(ViewBag.Chapter.Chapnumber.Equals("1")?"disabled":"")"
                       href="/Story/Content/@ViewBag.Chapter.Sid/@(int.Parse(ViewBag.Chapter.Chapnumber) - 1)">
                        <span class="glyphicon glyphicon-chevron-left"></span> <span class="hidden-xs">
                            Chương
                        </span>trước
                    </a>
                    <select class="btn btn-success btn-chapter-nav" onchange="window.location.href=this.value">
                        @foreach (Chapter c in ViewBag.AllChapters)
                        {
                            <option value="/Story/Content/@c.Sid/@c.Chapnumber" @(c.Chapnumber == @ViewBag.Chapter.Chapnumber?"selected":"")>Chương @c.Chapnumber</option>
                        }
                    </select>
                    <a class="btn btn-success btn-chapter-nav @(ViewBag.Chapter.Chapnumber.Equals(ViewBag.AllChapters.Count.ToString())?"disabled":"")"
                       href="/Story/Content/@ViewBag.Chapter.Sid/@(int.Parse(ViewBag.Chapter.Chapnumber) + 1)">
                        <span class="hidden-xs">Chương </span>tiếp <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="story-comment-wrapper">
            <div class="media">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">
                        <i class="fa fa-comments"></i>
                        <span>Đang có @ViewBag.ListComments.Count bình luận</span>
                    </h3><div class="clearfix">
                    </div>
                </div>
                <div class="media-body" style="width: 100%;">
                    <form action="/Story/CommentChapter" method="post" id="comment-chapter">
                        <div>
                            <input type="hidden" name="ctid" value="@ViewBag.Chapter.Ctid">
                            <input type="hidden" name="chapnumber" value="@ViewBag.Chapter.Chapnumber">
                            <input type="hidden" name="sid" value="@ViewBag.Chapter.Sid">
                            <textarea name="comment" id="comment-content-area" class="form-control" maxlength="500" required></textarea>
                        </div>
                        <div class="clearfix mt-15">
                            <div class="pull-left">
                                <p> <small>Bạn cần đăng nhập để đánh giá và bình luận.</small></p>
                            </div>
                            <div class="pull-right" style="margin: 10px 0px">
                                @if(u1!=null){
                                    <button type="submit" class="btn btn-sm btn-info" id="sky-comment">Gửi bình luận </button>
                                } else
                                {
                                    <a href="/User/Login/" class="btn btn-sm btn-info">Đăng nhập để bình luận</a>
                                }
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="list-comments-media" class="mt-10">
                <div class="media">
                    <div class="media-body">
                        @if (ViewBag.ListComments != null)
                        {
                            foreach (Rating item in ViewBag.ListComments)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="media-heading pull-left">
                                            @{
                                                StoryDBContext storyDBContext = new StoryDBContext();
                                                List<User> listU = storyDBContext.Users.ToList();
                                                foreach (User u in listU)
                                                {
                                                    if (item.Uid == u.Uid)
                                                    {
                                                        <span>
                                                            @u.Name
                                                        </span>
                                                    }
                                                }
                                            }
                                        </h4>
                                        <div class="pull-right">
                                            <small> <span class="text-muted"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp; <time class="timer">@item.CreatedAt</time> </span> </small>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-body">
                                        <form action="/Story/EditComment/" method="post" class="form-edit-comment">
                                                <input type="hidden" id="cmct@(item.CommentId)" value="@item.CommentContent">
                                                <input type="hidden" name="cmid" id="cmid@(item.CommentId)" value="@item.CommentId">
                                                <span class="form-content contentcm" id="commentcontent@(item.CommentId)">@item.CommentContent</span>

                                                @if (u1 != null)
                                                {
                                                    if (u1.Uid == item.Uid)
                                                    {
                                                        <br>
                                                        <textarea name="cmct" id="edit-content-area@(item.CommentId)" class="form-control edit-comment"></textarea>
                                                        <br>
                                                        <button id="edit-btn@(item.CommentId)" type="button" data-id="@item.CommentId" class="btn btn-primary btn-xs edit-btn">Sửa</button>
                                                        <input id="save-btn@(item.CommentId)" type="submit" data-id="@item.CommentId" class="btn btn-success btn-xs save-btn" value="Lưu">
                                                        <input id="cancel-btn@(item.CommentId)" type="button" data-id="@item.CommentId" class="btn btn-danger btn-xs cancel-btn" value="Hủy">
                                                        <button type="button" data-id="@item.CommentId" class="btn btn-danger btn-xs delete-comment">Xóa</button>
                                                    }
                                                }
                                            </form></div>
                                </div>
                            }
                        }
                        <div class="list-childs"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
