@using BookStory.Models
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@{
    ViewBag.Title = "Content";
    Layout = "_StoryLayout";
}
<div id="chapter-big-container" class="container chapter">
    <div class="row">
        <div class="col-xs-12">
            <button type="button"
                    class="btn btn-responsive btn-success toggle-nav-open ">
                <span class="glyphicon glyphicon-menu-up glyphicon-menu-updownswitch"></span>
            </button>
            <a class="truyen-title"
               href="/Story/Detail/@ViewBag.Chapter.Sid" title="@ViewBag.Chapter.Name">@ViewBag.Chapter.Name</a>

            <h2>
                <a class="chapter-title" href="/Story/Content/@ViewBag.Chapter.Sid/@ViewBag.Chapter.Chapnumber"
                   title="@ViewBag.Chapter.Subname">
                    <span class="chapter-text"><span>@ViewBag.Chapter.Subname</span></span>
                </a>
            </h2>
            <hr class="chapter-start">
            @if (Context.Session.GetString("user") != null)
            {
                if (ViewBag.IsSave == false)
                {
                    <a href="/Story/Save/@ViewBag.Chapter.Sid/@ViewBag.Chapter.Chapnumber"><button class="btn btn-success">Lưu chương</button></a>
                }
                else
                {
                    <a href="/Story/UnSave/@ViewBag.Chapter.Sid/@ViewBag.Chapter.Chapnumber"><button class="btn btn-success">Bỏ lưu chương</button></a>
                }
            }
            <div style="margin-top: 30px" class="chapter-nav" id="chapter-nav-top">
                <input type="hidden" id="ten-truyen"
                       value="me-vo-khong-loi-ve-914117"><input type="hidden" id="truyen-comment"
                                                                value="me-vo-khong-loi-ve"><input type="hidden" id="truyen-id" value="22044"><input type="hidden" id="chapter-id" value="2834631"><input type="hidden" id="chapter-bnum"
                                                                                                                                                                                                         value=""><input type="hidden" id="chapter-num" value="1"><input type="hidden"
                                                                                                                                                                                                                                                                         id="chapter-sac" value="1"><input type="hidden" id="" value="1">
                <div class="btn-group">

                    <a class="btn btn-success btn-chapter-nav @(ViewBag.Chapter.Chapnumber.Equals("1")?"disabled":"")"
                       href="/Story/Content/@ViewBag.Chapter.Sid/@(int.Parse(ViewBag.Chapter.Chapnumber) - 1)" id="prev_chap" data-cid="">
                        <span class="glyphicon glyphicon-chevron-left"></span> <span class="hidden-xs">
                            Chương
                        </span>trước
                    </a>
                    <select class="btn btn-success btn-chapter-nav" onchange="window.location.href=this.value">
                        @foreach (Chapter c in ViewBag.AllChapters)
                        {
                            <option value="/Story/Content/@c.Sid/@c.Chapnumber" @(c.Chapnumber == @ViewBag.Chapter.Chapnumber?"selected":"")>Chương @c.Chapnumber</option>
                        }
                    </select>
                    <a class="btn btn-success btn-chapter-nav @(ViewBag.Chapter.Chapnumber.Equals(ViewBag.AllChapters.Count.ToString())?"disabled":"")"
                       href="/Story/Content/@ViewBag.Chapter.Sid/@(int.Parse(ViewBag.Chapter.Chapnumber) + 1)"
                       id="next_chap" data-cid="2834632">
                        <span class="hidden-xs">Chương </span>tiếp <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div><br />
            <hr class="chapter-end">
            <div id="chapter-c" class="chapter-c">
                @Html.Raw(ViewBag.Chapter.Content)
            </div>
            <hr class="chapter-end">
            @if (Context.Session.GetString("user") != null)
            {
                if (ViewBag.IsSave == false)
                {
                    <a href="/Story/Save/@ViewBag.Chapter.Sid/@ViewBag.Chapter.Chapnumber"><button class="btn btn-success">Lưu chương</button></a>
                }
                else
                {
                    <a href="/Story/UnSave/@ViewBag.Chapter.Sid/@ViewBag.Chapter.Chapnumber"><button class="btn btn-success">Bỏ lưu chương</button></a>
                }
            }
            <div style="margin-top: 30px" class="chapter-nav" id="chapter-nav-bot">
                <div class="btn-group">
                    <a class="btn btn-success btn-chapter-nav @(ViewBag.Chapter.Chapnumber.Equals("1")?"disabled":"")"
                       href="/Story/Content/@ViewBag.Chapter.Sid/@(int.Parse(ViewBag.Chapter.Chapnumber) - 1)" id="prev_chap" data-cid="">
                        <span class="glyphicon glyphicon-chevron-left"></span> <span class="hidden-xs">
                            Chương
                        </span>trước
                    </a>
                    <select class="btn btn-success btn-chapter-nav" onchange="window.location.href=this.value">
                        @foreach (Chapter c in ViewBag.AllChapters)
                        {
                            <option value="/Story/Content/@c.Sid/@c.Chapnumber" @(c.Chapnumber == @ViewBag.Chapter.Chapnumber?"selected":"")>Chương @c.Chapnumber</option>
                        }
                    </select>
                    <a class="btn btn-success btn-chapter-nav @(ViewBag.Chapter.Chapnumber.Equals(ViewBag.AllChapters.Count.ToString())?"disabled":"")"
                       href="/Story/Content/@ViewBag.Chapter.Sid/@(int.Parse(ViewBag.Chapter.Chapnumber) + 1)"
                       id="next_chap" data-cid="2834632">
                        <span class="hidden-xs">Chương </span>tiếp <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
