@using BookStory.Models;
@model X.PagedList.IPagedList<BookStory.Models.Chapter>
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using X.PagedList;
@using X.PagedList.Mvc.Core

<!DOCTYPE html>
<html lang="vi">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile#">
    <meta charset="UTF-8">
    <title>@ViewBag.Story.Name</title>
    <link rel="stylesheet" href="~/style.css">
</head>

<body id="body_truyen">
    <div id="wrap">
        <div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
            <script type="text/javascript">function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++)0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : "" } var js_bgcolor = getCookie("bgcolor-cookie"); "#232323" == js_bgcolor && (document.getElementsByTagName("body")[0].className += " dark-theme");</script>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Hiện menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <h1><a class="header-logo" href="/Home/Index" title="doc truyen">doc truyen</a></h1>
                </div>
                <div class="navbar-collapse collapse" itemscope itemtype="">
                    <ul class="control nav navbar-nav ">
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle"
                               data-toggle="dropdown">
                                <span class="glyphicon glyphicon-list"></span> Thể loại <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu multi-column">
                                <div class="row">
                                    @foreach (Category c in ViewBag.AllCategories)
                                    {
                                        <div class="col-md-4">
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="/Story/Search/@c.Cid"
                                                   title="@c.Title">@c.Title</a>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle"
                               data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span> Tùy chỉnh trang <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right settings">
                                <form class="form-horizontal">
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 col-md-5 control-label"
                                               for="truyen-background">Màu nền trang</label>
                                        <div class="col-sm-5 col-md-7">
                                            <select class="form-control"
                                                    id="truyen-background">
                                                <option value="#F4F4F4" selected>Xám nhạt</option>
                                                <option value="#232323">Màu tối</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle"
                               data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Lựa chọn <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @if (Context.Session.GetString("user") == null)
                                {
                                    <li>
                                        <a href="/User/Login">
                                            Đăng nhập
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/User/Register">
                                            Đăng kí
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    User u = null;
                                    string json = Context.Session.GetString("user");
                                    if (json != null) u = JsonConvert.DeserializeObject<User>(json);
                                    <li>
                                        <a href="#">
                                            Trang cá nhân của @u.Name
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Story/ListSaved/@u.Uid">
                                            Truyện đã lưu
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/User/Logout">
                                            Đăng xuất
                                        </a>
                                    </li>

                                }
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" action="/Story/Search" method="post" role="search" itemprop="potentialAction" itemscope>
                        <div class="input-group search-holder">
                            <input aria-label="Từ khóa tìm kiếm" role="search key" class="form-control" id="search-input"
                                   type="search" name="id" placeholder="Tìm kiếm..." value="" itemprop="query-input"
                                   required>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"
                                        aria-label="Tìm kiếm" role="search">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        <div class="list-group list-search-res hide"></div>
                    </form>
                </div>
            </div>
            <div class="navbar-breadcrumb">
                <div class="container breadcrumb-container">
                    Đọc truyện online, đọc truyện chữ, truyện full, truyện hay.
                    Tổng hợp đầy đủ và cập nhật liên tục.
                </div>
            </div>
        </div>
        <div class="container csstransforms3d" id="truyen">
            <div class="col-xs-12 col-sm-12 col-md-9 col-truyen-main">
                <div class="col-xs-12 col-info-desc" itemscope itemtype="">
                    <div class="title-list book-intro">
                        <h2>Thông tin truyện</h2>
                    </div>
                    <h3 class="title" itemprop="name">@ViewBag.Story.Name</h3>
                    <div class="col-xs-12 col-sm-4 col-md-4 info-holder">
                        <div class="books">
                            <div class="book">
                                <img src="@ViewBag.Story.Image"
                                     alt="@ViewBag.Story.Name" itemprop="image">
                            </div>
                        </div>
                        <div class="info">
                            <div>
                                <h3>Tác giả:</h3><a itemprop="author"
                                                    href="/Story/Search/@ViewBag.Author.Name"
                                                    title="@ViewBag.Author.Name">@ViewBag.Author.Name</a>
                            </div>
                            <div>
                                <h3>Thể loại:</h3>
                                @foreach (Category c in ViewBag.Categories)
                                {
                                    <a itemprop="genre" href="/Story/Search/@c.Cid"
                                   title="@c.Title">@c.Title</a>
                                }
                            </div>
                            <div>
                                <h3>Nguồn:</h3><span class="source">@ViewBag.Story.Source</span>
                            </div>
                            <div>
                                <h3>Trạng thái:</h3>
                                @if (@ViewBag.Story.Status == 1)
                                {
                                    <span class="text-success">Full</span>
                                }
                                else
                                {
                                    <span class="text-primary">Đang ra</span>
                                }
                            </div>
                            <div>
                                <h3>Lượt xem:</h3><span class="source">@ViewBag.Story.View lượt</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 desc">
                        <div class="desc-text desc-text-full" itemprop="description"><p>@Html.Raw(ViewBag.Story.Description)</p></div>
                    </div>
                </div>
                <div class="col-xs-12" id="list-chapter">
                    <div class="title-list">
                        <h2>Danh sách chương</h2>
                    </div>
                    <div class="row">
                        @foreach (Chapter c in @Model)
                        {
                            <div class="col-xs-2 col-sm-2 col-md-2">
                                <ul class="list-chapter">

                                    <li>
                                        <span class="glyphicon glyphicon-certificate"></span> <a href="/Story/Content/@c.Sid/@c.Chapnumber"
                                                                                             title="@c.Subname @c.Name">
                                            <span class="chapter-text"><span>Chương @c.Chapnumber</span></span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        }
                    </div>
                    @Html.PagedListPager(Model, page => Url.Action("Detail", new { page }))
                </div>
            </div>
            <div class="visible-md-block visible-lg-block col-md-3 text-center col-truyen-side">
                @if (ViewBag.StoryAuthors.Count > 0)
                {
                    <div class="list list-truyen col-xs-12">
                        <div class="title-list">
                            <h4>Truyện cùng tác giả</h4>
                        </div>
                        @foreach (Story s in ViewBag.StoryAuthors)
                        {
                            <div class="row">
                                <div class="col-xs-12">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <h3>
                                        <a href="/Story/Detail/@s.Sid"
                                   title="@s.Name">
                                            @s.Name
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        }
                    </div>
                }
                <div class="list list-truyen list-side col-xs-12">
                    <div class="title-list">
                        <h4>Truyện đang hot</h4>
                    </div>
                    @for (int i = 0; i < ViewBag.StoryHighestView.Count; i++)
                    {
                        <div class="row top-item">
                            <div class="col-xs-12">
                                <div class="top-num top-@(i+1)">@(i+1)</div>
                                <div class="s-title">
                                    <h3>
                                        <a href="/Story/Detail/@ViewBag.StoryHighestView[i].Sid"
                                       title="@ViewBag.StoryHighestView[i].Name">@ViewBag.StoryHighestView[i].Name</a> 
                                    </h3>
                                </div>
                                <div>
                                    @ViewBag.StoryHighestView[i].View lượt xem
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="footer">
        <div class="container">
            <div class="hidden-xs col-sm-5">
                <strong>Truyện Full</strong> - <a title="Đọc truyện online"
                                                  href="#">Đọc truyện</a> online, <a title="Đọc truyện chữ"
                                                                                     href="#">đọc truyện</a> chữ, <a title="Truyện hay"
                                                                                                                     href="#">truyện hay</a>. Website luôn cập nhật những bộ <a title="Truyện mới"
                                                                                                                                                                                href="#">truyện mới</a> thuộc các thể loại đặc sắc như <a title="Truyện tiên hiệp" href="#">truyện tiên hiệp</a>, <a title="Truyện kiếm hiệp" href="#">truyện kiếm hiệp</a>, hay
                <a title="Truyện ngôn tình" href="#">truyện ngôn tình</a> một
                cách nhanh nhất. Hỗ trợ mọi thiết bị như di động và máy tính bảng.
            </div>
            <ul class="col-xs-12 col-sm-7 list-unstyled">
                <li class="text-right pull-right">
                    <a class="backtop"
                       title="Trở lên đầu trang" href="#wrap" rel="nofollow" aria-label="Trở về đầu trang">
                        <span class="glyphicon glyphicon-upload"></span>
                    </a>
                </li>
                <li class="hidden-xs tag-list">
                    <a href="https://truyenfull.vn/danh-sach/tien-hiep-hay/"
                       title="truyện tiên hiệp hay">truyện tiên hiệp hay</a> <a href="https://truyenfull.vn/the-loai/he-thong/" title="truyện hệ thống">truyện hệ thống</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="~/main2.js"></script>
    <script>$('head').append('<link rel="stylesheet" type="text/css" href="https://static.8cache.com/min/g/maincss-08122021_1.css"/>');</script>
</body>

</html>