@using BookStory.Models;
@model X.PagedList.IPagedList<BookStory.Models.Chapter>
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using X.PagedList;
@using X.PagedList.Mvc.Core
@{
    ViewBag.Title = "Detail";
    Layout = "_StoryLayout";
}
<div class="container csstransforms3d" id="truyen">
    <div class="col-xs-12 col-sm-12 col-md-9 col-truyen-main">
        <div class="col-xs-12 col-info-desc" itemscope itemtype="">
            <div class="title-list book-intro">
                <h2>Thông tin truyện</h2>
            </div>
            <h3 class="title" itemprop="name">@ViewBag.Story.Name</h3>
            <div class="col-xs-12 col-sm-4 col-md-4 info-holder">
                <div class="books">
                    <div class="book">
                        <img src="@ViewBag.Story.Image"
                             alt="@ViewBag.Story.Name" itemprop="image">
                    </div>
                </div>
                <div class="info">
                    <div>
                        <h3>Tác giả:</h3><a itemprop="author"
                                            href="/Story/Search/@ViewBag.Author.Name"
                                            title="@ViewBag.Author.Name">@ViewBag.Author.Name</a>
                    </div>
                    <div>
                        <h3>Thể loại:</h3>
                        @foreach (Category c in ViewBag.CategoriesOfStory)
                        {
                            <a itemprop="genre" href="/Story/Search/@c.Cid"
                           title="@c.Title">@c.Title</a>
                        }
                    </div>
                    <div>
                        <h3>Nguồn:</h3><span class="source">@ViewBag.Story.Source</span>
                    </div>
                    <div>
                        <h3>Trạng thái:</h3>
                        @if (@ViewBag.Story.Status == 1)
                        {
                            <span class="text-success">Full</span>
                        }
                        else
                        {
                            <span class="text-primary">Đang ra</span>
                        }
                    </div>
                    <div>
                        <h3>Lượt xem:</h3><span class="source">@ViewBag.Story.View lượt</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 desc">
                <div class="desc-text desc-text-full" itemprop="description"><p>@Html.Raw(ViewBag.Story.Description)</p></div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="title-list">
                <h2>Danh sách chương</h2>
            </div>
            <div class="row">
                @foreach (Chapter c in @Model)
                {
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <ul class="list-chapter">
                            <li>
                                <span class="glyphicon glyphicon-certificate"></span> <a href="/Story/Content/@c.Sid/@c.Chapnumber"
                                                                                     title="@c.Subname @c.Name">
                                    <span class="chapter-text"><span>@c.Subname</span></span>
                                </a>
                            </li>

                        </ul>
                    </div>
                }
            </div>
            @Html.PagedListPager(Model, id1 => Url.Action("Detail", new { id1 }))
        </div>
    </div>
    <div class="visible-md-block visible-lg-block col-md-3 text-center col-truyen-side">
        @if (ViewBag.StoryAuthors.Count > 0)
        {
            <div class="list list-truyen col-xs-12">
                <div class="title-list">
                    <h4>Truyện cùng tác giả</h4>
                </div>
                @foreach (Story s in ViewBag.StoryAuthors)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <h3>
                                <a href="/Story/Detail/@s.Sid"
                           title="@s.Name">
                                    @s.Name
                                </a>
                            </h3>
                        </div>
                    </div>
                }
            </div>
        }
        <div class="list list-truyen list-side col-xs-12">
            <div class="title-list">
                <h4>Truyện đang hot</h4>
            </div>
            @for (int i = 0; i < ViewBag.StoryHighestView.Count; i++)
            {
                <div class="row top-item">
                    <div class="col-xs-12">
                        <div class="top-num top-@(i+1)">@(i+1)</div>
                        <div class="s-title">
                            <h3>
                                <a href="/Story/Detail/@ViewBag.StoryHighestView[i].Sid"
                               title="@ViewBag.StoryHighestView[i].Name">@ViewBag.StoryHighestView[i].Name</a>
                            </h3>
                        </div>
                        <div>
                            @ViewBag.StoryHighestView[i].View lượt xem
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
