@using BookStory.Models;
@model X.PagedList.IPagedList<BookStory.Models.Chapter>
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using X.PagedList;
@using X.PagedList.Mvc.Core
@{
    ViewBag.Title = "Detail";
    Layout = "_StoryLayout";
}
@{
    User u1 = null;
    string json = Context.Session.GetString("user");
    if (json != null) u1 = JsonConvert.DeserializeObject<User>(json);
}
<div class="container csstransforms3d" id="truyen">
    <div class="col-xs-12 col-sm-12 col-md-9 col-truyen-main">
        <div class="col-xs-12 col-info-desc" itemscope itemtype="">
            <div class="title-list book-intro">
                <h2>Thông tin truyện</h2>
            </div>
            <h3 class="title" itemprop="name">@ViewBag.Story.Name</h3>
            <div class="col-xs-12 col-sm-4 col-md-4 info-holder">
                <div class="books">
                    <div class="book">
                        <img src="~/StoriesImage/@ViewBag.Story.Image"
                             alt="@ViewBag.Story.Name" itemprop="image">
                    </div>
                </div>
                <div class="info">
                    <div>
                        <h3>Tác giả:</h3><a itemprop="author"
                                            href="/Story/Search/@ViewBag.Author.Name"
                                            title="@ViewBag.Author.Name">@ViewBag.Author.Name</a>
                    </div>
                    <div>
                        <h3>Thể loại:</h3>
                        @foreach (Category c in ViewBag.CategoriesOfStory)
                        {
                            <a itemprop="genre" href="/Story/Search/@c.Cid"
                           title="@c.Title">@c.Title</a>
                        }
                    </div>
                    <div>
                        <h3>Nguồn:</h3><span class="source">@ViewBag.Story.Source</span>
                    </div>
                    <div>
                        <h3>Trạng thái:</h3>
                        @if (@ViewBag.Story.Status == 1)
                        {
                            <span class="text-success">Full</span>
                        }
                        else
                        {
                            <span class="text-primary">Đang ra</span>
                        }
                    </div>
                    <div>
                        <h3>Lượt xem:</h3><span class="source">@ViewBag.Story.View lượt</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 desc">
                <div class="desc-text desc-text-full" itemprop="description"><p>@Html.Raw(ViewBag.Story.Description)</p></div>
                <div class="l-chapter">
                    <div class="l-title">
                        <h3>Các chương mới nhất</h3>
                    </div>
                    <ul class="l-chapters">
                        @foreach (Chapter c in ViewBag.NewChapters)
                        {
                            <li><span class="glyphicon glyphicon-certificate"></span> <a href="/Story/Content/@c.Sid/@c.Chapnumber" title="@c.Subname"><span class="chapter-text"></span>@c.Subname</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="title-list">
                <h2>Danh sách chương</h2>
            </div>
            <div class="row">
                @foreach (Chapter c in @Model)
                {
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <ul class="list-chapter">
                            <li>
                                <span class="glyphicon glyphicon-certificate"></span> <a href="/Story/Content/@c.Sid/@c.Chapnumber"
                                                                                     title="@c.Subname @c.Name">
                                    <span class="chapter-text"><span>@c.Subname</span></span>
                                </a>
                            </li>

                        </ul>
                    </div>
                }
            </div>
            @Html.PagedListPager(Model, id1 => Url.Action("Detail", new { id1 }))
        </div>
        <div class="panel-body">
            <div class="rate">
                Đánh giá của bạn
                <div class="" data-score="6.7" style="cursor: pointer;">
                    <img id="img1" onmouseout="rateOut(1)" onmouseover="rateIn(1)" onclick="rated(1)" src="//static.8cache.com/lib/raty/images/star-on.png" title="Không còn gì để nói...">&nbsp;
                    <img id="img2" onmouseout="rateOut(2)" onmouseover="rateIn(2)" onclick="rated(2)" src="//static.8cache.com/lib/raty/images/star-off.png" title="WTF">&nbsp;
                    <img id="img3" onmouseout="rateOut(3)" onmouseover="rateIn(3)" onclick="rated(3)" src="//static.8cache.com/lib/raty/images/star-off.png" title="Cái gì thế này ?!">&nbsp;
                    <img id="img4" onmouseout="rateOut(4)" onmouseover="rateIn(4)" onclick="rated(4)" src="//static.8cache.com/lib/raty/images/star-off.png" title="Haizz">&nbsp;
                    <img id="img5" onmouseout="rateOut(5)" onmouseover="rateIn(5)" onclick="rated(5)" src="//static.8cache.com/lib/raty/images/star-off.png" title="Tạm">&nbsp;
                    <img id="img6" onmouseout="rateOut(6)" onmouseover="rateIn(6)" onclick="rated(6)" src="//static.8cache.com/lib/raty/images/star-off.png" title="Cũng được">&nbsp;
                    <img id="img7" onmouseout="rateOut(7)" onmouseover="rateIn(7)" onclick="rated(7)" src="//static.8cache.com/lib/raty/images/star-off.png" title="Khá đấy">&nbsp;
                    <img id="img8" onmouseout="rateOut(8)" onmouseover="rateIn(8)" onclick="rated(8)" src="//static.8cache.com/lib/raty/images/star-off.png" title="Được">&nbsp;
                    <img id="img9" onmouseout="rateOut(9)" onmouseover="rateIn(9)" onclick="rated(9)" src="//static.8cache.com/lib/raty/images/star-off.png" title="Hay">&nbsp;
                    <img id="img10" onmouseout="rateOut(10)" onmouseover="rateIn(10)" onclick="rated(10)" src="//static.8cache.com/lib/raty/images/star-off.png" title="Tuyệt đỉnh!">
                    <input name="score" id="score" type="hidden">
                </div>
                <em class="rate-text"></em>
                <div class="small" itemprop="aggregateRating" itemscope="">
                    <em>Đánh giá: <strong><span itemprop="ratingValue">@ViewBag.Score</span></strong>/<span class="text-muted" itemprop="bestRating">10</span> từ <strong><span itemprop="ratingCount">@ViewBag.TotalRating</span> lượt</strong></em>
                </div>
            </div>
            <div class="story-comment-wrapper">
                <div class="media">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-comments"></i>
                            <span>Đang có @ViewBag.ListComments.Count bình luận</span>
                        </h3><div class="clearfix">
                        </div>
                    </div>
                    <div class="media-body" style="width: 100%;">
                        <form action="/Story/RatingStory" method="post" id="comment-form">
                            <div>
                                <input type="hidden" name="star" id="rating-star" value="@ViewBag.Rating">
                                <input type="hidden" name="sid" value="@ViewBag.Story.Sid">
                                <textarea name="comment" id="comment-content-area" class="form-control" maxlength="500"></textarea>
                            </div>
                            <div class="clearfix mt-15">
                                <div class="pull-left">
                                    <p> <small>Bạn cần đăng nhập để đánh giá và bình luận.</small></p>
                                </div>
                                <div class="pull-right" style="margin: 10px 0px">
                                    @if (u1 != null)
                                    {
                                        <button type="submit" class="btn btn-sm btn-info" id="sky-comment">Gửi bình luận </button>
                                    }
                                    else
                                    {
                                        <a href="/User/Login" class="btn btn-sm btn-info">Đăng nhập để bình luận</a>
                                    }
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="list-comments-media" class="mt-10" style="">
                    <div class="media">
                        <div class="media-body">
                            @if (ViewBag.ListComments != null)
                            {
                                foreach (Rating item in ViewBag.ListComments)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="media-heading pull-left">
                                                @{
                                                    StoryDBContext storyDBContext = new StoryDBContext();
                                                    List<User> listU = storyDBContext.Users.ToList();
                                                    foreach (User u in listU)
                                                    {
                                                        if (item.Uid == u.Uid)
                                                        {
                                                            <span>@u.Name</span>
                                                        }
                                                    }
                                                }
                                            </h4>
                                            <div class="pull-right">
                                                <small> <span class="text-muted"> <i class="fa fa-clock-o"></i>&nbsp;&nbsp; <time class="timer">@item.CreatedAt</time> </span> </small>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-body">
                                            <form action="/Story/EditComment/" method="post" class="form-edit-comment">
                                                <input type="hidden" id="cmct@(item.CommentId)" value="@item.CommentContent">
                                                <input type="hidden" name="cmid" id="cmid@(item.CommentId)" value="@item.CommentId">
                                                <span class="form-content contentcm" id="commentcontent@(item.CommentId)">@item.CommentContent</span>

                                                @if (u1 != null)
                                                {
                                                    if (u1.Uid == item.Uid)
                                                    {
                                                        <br>
                                                        <textarea name="cmct" id="edit-content-area@(item.CommentId)" class="form-control edit-comment"></textarea>
                                                        <br>
                                                        <button id="edit-btn@(item.CommentId)" type="button" data-id="@item.CommentId" class="btn btn-primary btn-xs edit-btn">Sửa</button>
                                                        <input id="save-btn@(item.CommentId)" type="submit" data-id="@item.CommentId" class="btn btn-success btn-xs save-btn" value="Lưu">
                                                        <input id="cancel-btn@(item.CommentId)" type="button" data-id="@item.CommentId" class="btn btn-danger btn-xs cancel-btn" value="Hủy">
                                                        <button type="button" data-id="@item.CommentId" class="btn btn-danger btn-xs delete-comment">Xóa</button>
                                                    }
                                                }
                                            </form>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="list-childs"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="visible-md-block visible-lg-block col-md-3 text-center col-truyen-side">
        @if (ViewBag.StoryAuthors.Count > 0)
        {
            <div class="list list-truyen col-xs-12">
                <div class="title-list">
                    <h4>Truyện cùng tác giả</h4>
                </div>
                @foreach (Story s in ViewBag.StoryAuthors)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <h3>
                                <a href="/Story/Detail/@s.Sid"
                           title="@s.Name">
                                    @s.Name
                                </a>
                            </h3>
                        </div>
                    </div>
                }
            </div>
        }
        <div class="list list-truyen list-side col-xs-12">

            <div class="title-list">
                <h4>Truyện đang hot</h4>
            </div>

            @for (int i = 0; i < ViewBag.StoryHighestView.Count; i++)
            {
                <div class="row top-item">
                    <div class="col-xs-12">
                        <div class="top-num top-@(i+1)">@(i+1)</div>
                        <div class="s-title">
                            <h3>
                                <a href="/Story/Detail/@ViewBag.StoryHighestView[i].Sid"
                               title="@ViewBag.StoryHighestView[i].Name">@ViewBag.StoryHighestView[i].Name</a>
                            </h3>
                        </div>
                        <div>
                            @ViewBag.StoryHighestView[i].View lượt xem
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
