@using BookStory.Models
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@model X.PagedList.IPagedList<BookStory.Models.Story>
@using X.PagedList;
@using X.PagedList.Mvc.Core

@{
    ViewBag.Title = "Search";
    Layout = "_StoryLayout";
}

<div class="container" id="list-page">
    <div class="col-xs-12 col-sm-12 col-md-9 col-truyen-main">
        <div class="text-center"></div>
        <div class="list list-truyen col-xs-12">
            <div class="title-list">
                <h2>Kết Quả Tìm Kiếm</h2>
            </div>
            @foreach (Story s in Model)
            {
                <div class="row" itemscope>
                    <div class="col-xs-3">

                        <div style="background: url(@s.Image); background-repeat: no-repeat; background-position: center; background-size: 160px 79px">
                        </div>

                    </div>
                    <div class="col-xs-7">
                        <div>
                            <span class="glyphicon glyphicon-book"></span>
                            <h3 class="truyen-title" itemprop="name">
                                <a href="/Story/Detail/@s.Sid"
                               title="@s.Name" itemprop="url">
                                    @s.Name
                                </a>
                            </h3>
                            @if (s.Keyword.Contains("hot"))
                            {
                                <span class="label-title label-hot"></span>
                            }
                            @if (s.Keyword.Contains("full"))
                            {
                                <span class="label-title label-full"></span>
                            }
                            @if (s.Keyword.Contains("new"))
                            {
                                <span class="label-title label-new"></span>
                            }
                            <span class="author" itemprop="author">
                                <span class="glyphicon glyphicon-pencil"></span>
                                @foreach (Author a in ViewBag.Authors)
                                {
                                    if (a.Aid == s.StoriesAuthors.FirstOrDefault(x => x.Sid == s.Sid).Aid)
                                    {
                                        <a href="/Story/Search/@a.Name">@a.Name</a>
                                    }
                                }
                            </span>
                            <span class="author" itemprop="author"> @s.View lượt xem </span>
                        </div>
                    </div>
                    <div class="col-xs-2 text-info">
                        <div>
                            <a href="/Story/Content/@s.Sid/@s.Chapters.Count"
                           title="@s.Name Chương @s.Chapters.Count">
                                <span class="chapter-text"><span>Chương </span></span>@s.Chapters.Count
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        @Html.PagedListPager(Model, id1 => Url.Action("Search", new { id = ViewBag.CurrentId, id1 }))
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-truyen-side">
        <div class="visible-md-block visible-lg-block text-center">
            <div class="list list-truyen list-cat col-xs-12">
                <div class="title-list">
                    <h4>Thể loại truyện</h4>
                </div>
                <div class="row">
                    @foreach (Category c in ViewBag.Categories)
                    {
                        <div class="col-xs-6">
                            <a href="/Story/Search/@c.Cid"
                           title="@c.Title">@c.Title</a>
                        </div>
                    }
                </div>
            </div>
            <div class="list list-truyen list-side col-xs-12">
                <div class="title-list">
                    <h4>Truyện đang hot</h4>
                </div>
                @for (int i = 0; i < ViewBag.StoryHighestView.Count; i++)
                {
                    <div class="row top-item">
                        <div class="col-xs-12">
                            <div class="top-num top-@(i+1)">@(i+1)</div>
                            <div class="s-title">
                                <h3>
                                    <a href="/Story/Detail/@ViewBag.StoryHighestView[i].Sid"
                                   title="@ViewBag.StoryHighestView[i].Name">@ViewBag.StoryHighestView[i].Name</a>
                                </h3>
                            </div>
                            <div>
                                @ViewBag.StoryHighestView[i].View lượt xem
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
