@using BookStory.Models
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="vi">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile#">
    <meta charset="UTF-8">
    <title>Đọc truyện online, đọc truyện hay</title>
    <link rel="stylesheet" href="style.css">
</head>

<body id="body_home">
    <div id="wrap">
        <div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
            <script type="text/javascript">function getCookie(d) { d += "="; for (var b = decodeURIComponent(document.cookie).split(";"), c = [], a = 0; a < b.length; a++)0 == b[a].trim().indexOf(d) && (c = b[a].trim().split("=")); return 0 < c.length ? c[1] : "" } var js_bgcolor = getCookie("bgcolor-cookie"); "#232323" == js_bgcolor && (document.getElementsByTagName("body")[0].className += " dark-theme");</script>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Hiện menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <h1><a class="header-logo" href="/Home/Index" title="doc truyen">doc truyen</a></h1>
                </div>
                <div class="navbar-collapse collapse" itemscope itemtype="">
                    <ul class="control nav navbar-nav ">
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle"
                               data-toggle="dropdown">
                                <span class="glyphicon glyphicon-list"></span> Thể loại <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu multi-column">
                                <div class="row">
                                    @foreach (Category c in ViewBag.Categories)
                                    {
                                        <div class="col-md-4">
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#"
                                                   title="@c.Title">@c.Title</a>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle"
                               data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span> Tùy chỉnh trang <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right settings">
                                <form class="form-horizontal">
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-2 col-md-5 control-label"
                                               for="truyen-background">Màu nền trang</label>
                                        <div class="col-sm-5 col-md-7">
                                            <select class="form-control"
                                                    id="truyen-background">
                                                <option value="#F4F4F4" selected>Xám nhạt</option>
                                                <option value="#232323">Màu tối</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle"
                               data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span> Lựa chọn <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @if (Context.Session.GetString("user") == null)
                                {
                                    <li>
                                        <a href="/User/Login">
                                            Đăng nhập
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/User/Register">
                                            Đăng kí
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    User u = null;
                                    string json = Context.Session.GetString("user");
                                    if (json != null) u = JsonConvert.DeserializeObject<User>(json);
                                    <li>
                                        <a href="#">
                                            Trang cá nhân của @u.Name
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/User/Logout">
                                            Đăng xuất
                                        </a>
                                    </li>

                                }
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" action="#" role="search" itemprop="potentialAction" itemscope
                          itemtype="https://schema.org/SearchAction">
                        <div class="input-group search-holder">
                            <meta itemprop="target" content="https://truyenfull.vn/tim-kiem/?tukhoa={tukhoa}" /><input aria-label="Từ khóa tìm kiếm" role="search key" class="form-control" id="search-input"
                                                                                                                       type="search" name="tukhoa" placeholder="Tìm kiếm..." value="" itemprop="query-input"
                                                                                                                       required>
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"
                                        aria-label="Tìm kiếm" role="search">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        <div class="list-group list-search-res hide"></div>
                    </form>
                </div>
            </div>
            <div class="navbar-breadcrumb">
                <div class="container breadcrumb-container">
                    Đọc truyện online, đọc truyện chữ, truyện full, truyện hay.
                    Tổng hợp đầy đủ và cập nhật liên tục.
                </div>
            </div>
        </div>
        <div class="container" id="intro-index">
            <div class="title-list">
                <h2><a href="" title="Truyện theo thể loại">Truyện hot</a></h2><a href="https://truyenfull.vn/danh-sach/truyen-hot/" title="Truyện hot">
                    <span class="glyphicon glyphicon-fire"></span>
                </a>
                <form action="/Home/Index/" method="post">
                    <select name="id" onchange="this.form.submit()" id="hot-select"
                            class="form-control new-select" aria-label="Chọn thể loại">
                        <option value="0">Tất cả</option>
                        @foreach (Category c in ViewBag.Categories)
                        {
                            <option value="@c.Cid" @(ViewBag.CurrentId == c.Cid ?"selected":"")>@c.Title</option>
                        }
                    </select>
                </form>
            </div>
            <div class="index-intro">

                @foreach (Story s in ViewBag.Stories)
                {
                    <div class="item top-1" itemscope itemtype="">
                        <a href="/Story/Detail/@s.Sid" itemprop="url">
                            <span class="@(s.Status == 1?"full-label":"")"></span><img src="@s.Image"
                                                                                   alt="@s.Name" class="img-responsive item-img" itemprop="image">
                            <div class="title">
                                <h3 itemprop="name">@s.Name</h3>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="container" id="list-index">
            <div class="row text-center">
                <div id="banner-bio-link"></div>
            </div>
            <div class="hide" id="history-holder"></div>
            <div class="list list-truyen list-new col-xs-12 col-sm-12 col-md-8 col-truyen-main">
                <div class="title-list">
                    <h2>
                        <a href="https://truyenfull.vn/danh-sach/truyen-moi/" title="Truyện mới">Truyện mới cập nhật</a>
                    </h2><a href="https://truyenfull.vn/danh-sach/truyen-moi/" title="Truyện mới">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </a>
                    <select id="new-select"
                                class="form-control new-select" aria-label="Chọn thể loại">
                        <option value="0">Tất cả</option>
                        @foreach (Category c in ViewBag.Categories)
                       {
                           <option value="@c.Cid" @(ViewBag.CurrentId == c.Cid ?"selected":"")>@c.Title</option>
                       }
                    </select>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name">
                            <a href="https://truyenfull.vn/xuyen-thanh-vo-cua-vat-hi-sinh-nam-phu-thap-nien-70/"
                               title="Xuyên Thành Vợ Của Vật Hi Sinh Nam Phụ Thập Niên 70" itemprop="url">
                                Xuyên Thành
                                Vợ Của Vật Hi Sinh Nam Phụ Thập Niên 70
                            </a>
                        </h3><span class="label-title label-new"></span><span class="label-title label-hot"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888">
                        <a itemprop="genre"
                           href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/nu-phu/" title="Nữ Phụ">Nữ Phụ</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info">
                        <a href="https://truyenfull.vn/xuyen-thanh-vo-cua-vat-hi-sinh-nam-phu-thap-nien-70/chuong-23/"
                           title="Xuyên Thành Vợ Của Vật Hi Sinh Nam Phụ Thập Niên 70 - Chương 23">
                            <span class="chapter-text"><span>Chương </span></span>23
                        </a>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time text-888">1 ngày trước </div>
                </div>
                <div class="row" itemscope itemtype="https://schema.org/Book">
                    <div class="col-xs-9 col-sm-6 col-md-5 col-title">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name">
                            <a href="https://truyenfull.vn/xuyen-thanh-vo-cua-vat-hi-sinh-nam-phu-thap-nien-70/"
                               title="Xuyên Thành Vợ Của Vật Hi Sinh Nam Phụ Thập Niên 70" itemprop="url">
                                Xuyên Thành
                                Vợ Của Vật Hi Sinh Nam Phụ Thập Niên 70
                            </a>
                        </h3><span class="label-title label-new"></span><span class="label-title label-hot"></span>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888">
                        <a itemprop="genre"
                           href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn Tình</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/nu-phu/" title="Nữ Phụ">Nữ Phụ</a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info">
                        <a href="https://truyenfull.vn/xuyen-thanh-vo-cua-vat-hi-sinh-nam-phu-thap-nien-70/chuong-23/"
                           title="Xuyên Thành Vợ Của Vật Hi Sinh Nam Phụ Thập Niên 70 - Chương 23">
                            <span class="chapter-text"><span>Chương </span></span>23
                        </a>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-2 col-time text-888">1 ngày trước </div>
                </div>
            </div>
            <div class="col-md-4 col-truyen-side">
                <div class="visible-md-block visible-lg-block text-center">
                    <div class="hide" id="history-holder-side"></div>
                    <div class="list list-truyen list-cat col-xs-12">
                        <div class="title-list">
                            <h4>Thể loại truyện</h4>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="https://truyenfull.vn/the-loai/mat-the/"
                                   title="Truyện Mạt Thế">Mạt Thế</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="https://truyenfull.vn/the-loai/truyen-teen/"
                                   title="Truyện Truyện Teen">Truyện Teen</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="https://truyenfull.vn/the-loai/phuong-tay/"
                                   title="Truyện Phương Tây">Phương Tây</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="https://truyenfull.vn/the-loai/nu-phu/"
                                   title="Truyện Nữ Phụ">Nữ Phụ</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="https://truyenfull.vn/the-loai/light-novel/"
                                   title="Truyện Light Novel">Light Novel</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="https://truyenfull.vn/the-loai/viet-nam/"
                                   title="Truyện Việt Nam">Việt Nam</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="https://truyenfull.vn/the-loai/doan-van/"
                                   title="Truyện Đoản Văn">Đoản Văn</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="https://truyenfull.vn/the-loai/khac/"
                                   title="Truyện Khác">Khác</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container" id="truyen-slide">
            <div class="list list-thumbnail col-xs-12">
                <div class="title-list">
                    <h2>
                        <a href="https://truyenfull.vn/danh-sach/truyen-full/" title="Truyện full">
                            Truyện đã hoàn
                            thành
                        </a>
                    </h2><a href="https://truyenfull.vn/danh-sach/truyen-full/"
                            title="Truyện full"><span class="glyphicon glyphicon-menu-right"></span></a>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <a href="https://truyenfull.vn/nguoi-vo-thu-bay-cua-tong-tai-ac-ma-522328/"
                           title="Người Vợ Thứ Bảy Của Tổng Tài Ác Ma">
                            <div class="lazyimg"
                                 data-desk-image="https://imgtruyentr.staticscdn.net/2021/06/Untitled-1-4-215x322.jpg?1"
                                 data-image="https://imgtruyentr.staticscdn.net/2021/06/Untitled-1-4-215x322.jpg?1"
                                 data-alt="Người Vợ Thứ Bảy Của Tổng Tài Ác Ma"></div>
                            <div class="caption">
                                <h3>Người Vợ Thứ Bảy Của Tổng Tài Ác Ma</h3> <small class="btn-xs label-primary">
                                    Full -
                                    550 chương
                                </small>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <a href="https://truyenfull.vn/chong-doc-tai-cu-cuong-hon-toi/"
                           title="Chồng Độc Tài Cứ Cưỡng Hôn Tôi">
                            <div class="lazyimg"
                                 data-desk-image="https://imgtruyentr.staticscdn.net/2021/07/Untitled-1-22-215x322.jpg?1"
                                 data-image="https://imgtruyentr.staticscdn.net/2021/07/Untitled-1-22-215x322.jpg?1"
                                 data-alt="Chồng Độc Tài Cứ Cưỡng Hôn Tôi"></div>
                            <div class="caption">
                                <h3>Chồng Độc Tài Cứ Cưỡng Hôn Tôi</h3> <small class="btn-xs label-primary">
                                    Full - 902
                                    chương
                                </small>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <a href="https://truyenfull.vn/vu-su-649010/"
                           title="Vu sư">
                            <div class="lazyimg"
                                 data-desk-image="https://static.8cache.com/cover/eJwFwce2qjoAANAvYj3pOHiDCIRepAWcsKTmAKGJFL_-7j1g9j8Dj7o-z4y-jymDR9bNOqKaohn16BPKZl1Gd1D19Bvrx-IBHWzz9JGfYqXYTXT5CSReqa-3e7rpYxM1R-DFVcmx6yhnf74UXTVmBq2-tuqqThaRPtHiNBEU6osamvsZQs500CV73RnvkH6JkvF-hHjEB9nhNbfd4lhB-8stoXWBUhyF9Mi6yak0qddxaOy6y7o6pApQa47aryhWYM5Sxsk9tcu26XwqoH3XfEEJc2VfLYoj8bdmBghcJ2b8ovI2stv-mRi7tJtrCpNBCz46oUr-9kdlUu9LrKPjxaW6r68G5yHHpdUe6FcHqizft_h6WNQh95HJ5WW4MuwtsR5YbgQasC2Icjc4JbDnoed4TYcCn9nAJmCIv63iChMRHz_5aT1-_TK80kGlUG_wOlT9goaX_6BAoxhhWiHseQ9ttPf4vR_LxVPOsEyd1GmvTI5UrX1jRX4tUlHdxRAYjtPTQ_rTZv5c4aIVEV_nUSp6yXS54dVH7u-1M43nkPI9UN6fiEIuDqS2_H4FimWfN78jpsm4zJHyG5eNYQMcdy6q4qwVVw66uZ8m5DBmdmQg53slgpBZVlLEd7XmbVRV4wzim9Gv8xbx9uRfnMwlISwdWxALUiPpJt2I5btaryd996bm6bUFm-ejBJwei2Av3tJZjAtrhvps-UeOjBmLjTx9oj0UQKLZZ9t2kUHvwfQu0HpdREDWK8CbZ2Smeo8IOf4_GJqnMMsw_wDOO_Wy/vu-su-649010.jpg"
                                 data-image="https://static.8cache.com/cover/eJwFwce2qjoAANAvYj3pOHiDCIRepAWcsKTmAKGJFL_-7j1g9j8Dj7o-z4y-jymDR9bNOqKaohn16BPKZl1Gd1D19Bvrx-IBHWzz9JGfYqXYTXT5CSReqa-3e7rpYxM1R-DFVcmx6yhnf74UXTVmBq2-tuqqThaRPtHiNBEU6osamvsZQs500CV73RnvkH6JkvF-hHjEB9nhNbfd4lhB-8stoXWBUhyF9Mi6yak0qddxaOy6y7o6pApQa47aryhWYM5Sxsk9tcu26XwqoH3XfEEJc2VfLYoj8bdmBghcJ2b8ovI2stv-mRi7tJtrCpNBCz46oUr-9kdlUu9LrKPjxaW6r68G5yHHpdUe6FcHqizft_h6WNQh95HJ5WW4MuwtsR5YbgQasC2Icjc4JbDnoed4TYcCn9nAJmCIv63iChMRHz_5aT1-_TK80kGlUG_wOlT9goaX_6BAoxhhWiHseQ9ttPf4vR_LxVPOsEyd1GmvTI5UrX1jRX4tUlHdxRAYjtPTQ_rTZv5c4aIVEV_nUSp6yXS54dVH7u-1M43nkPI9UN6fiEIuDqS2_H4FimWfN78jpsm4zJHyG5eNYQMcdy6q4qwVVw66uZ8m5DBmdmQg53slgpBZVlLEd7XmbVRV4wzim9Gv8xbx9uRfnMwlISwdWxALUiPpJt2I5btaryd996bm6bUFm-ejBJwei2Av3tJZjAtrhvps-UeOjBmLjTx9oj0UQKLZZ9t2kUHvwfQu0HpdREDWK8CbZ2Smeo8IOf4_GJqnMMsw_wDOO_Wy/vu-su-649010.jpg"
                                 data-alt="Vu sư"></div>
                            <div class="caption">
                                <h3>Vu sư</h3> <small class="btn-xs label-primary">Full - 156 chương</small>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <a href="https://truyenfull.vn/duoi-vay-than-691341/"
                           title="Dưới váy thần">
                            <div class="lazyimg"
                                 data-desk-image="https://static.8cache.com/cover/eJwNzjUWo0AAANAT8RaXYgt8SAhuoZmHS7CQQU-_2__iDy3157LohXMA-PiiaN_S3LdlshzA9HT4rj7yDk38OvfCcyUyu-2JL9nUGq9fyo2BirdNPj4LeW1Vsr81PWiBub_hnk7vuuzHZgHoVadu_L13b0jZqsgMRvQxtJjkLG5p-pQSLLoNcAIXgvC2NgPaMwttRcaEUkZusiCmlI_Bxl_o8GxHEEyKgkE4allB6MF9EZH6CZxIIhvhd-VaERHoCHDPeXLJcN5PYZzRlY7c3WmQXRmFqTq5jJ-MV3PC6zGsyiCLklqNWLgUKU2pDxk76ahhbzloxh82BOkw4gt9WI89JtW8XobPo9IYIS8N3KmOn9rX_TvuQzu4TNJWXuJuTfa3kr4vTjkYun7061vYH4d60ZMG9KK2ZU-nwdf6pgRiYsbdCK3rUORVyVjSvnaaW97dEvSvALhfm9YtUosFU2q2FwScGhYRnw8UaC_8y_HbVNDN4TkweG8JFlIhpjeBFR22cdZNq0pu4JRNF6Ob0vdsKDK3ElOl8DWKXf5PI95rEmN5hyjaLF_QKhfnurvzQZbhVEVxig41dmYeCJyzvjbbkCNOjQwEZ0cAfBFN03yFcV8lSj4y3TbOvTESdcwvxbo4xJqRuLL6UE1FsulYfKSxha_xXP9JZ_rDayirI7bjV1SK1J2WVkXCj-gyWu1uPAQATQbkVFv6rzS53Q7eYSyQddhKr2d-PqWj7HVr04Uqa2P16WZIaJT9TlymnLMVin8PkmCwliLJfwmA-AY=/duoi-vay-than-691341.jpg"
                                 data-image="https://static.8cache.com/cover/eJwNzjUWo0AAANAT8RaXYgt8SAhuoZmHS7CQQU-_2__iDy3157LohXMA-PiiaN_S3LdlshzA9HT4rj7yDk38OvfCcyUyu-2JL9nUGq9fyo2BirdNPj4LeW1Vsr81PWiBub_hnk7vuuzHZgHoVadu_L13b0jZqsgMRvQxtJjkLG5p-pQSLLoNcAIXgvC2NgPaMwttRcaEUkZusiCmlI_Bxl_o8GxHEEyKgkE4allB6MF9EZH6CZxIIhvhd-VaERHoCHDPeXLJcN5PYZzRlY7c3WmQXRmFqTq5jJ-MV3PC6zGsyiCLklqNWLgUKU2pDxk76ahhbzloxh82BOkw4gt9WI89JtW8XobPo9IYIS8N3KmOn9rX_TvuQzu4TNJWXuJuTfa3kr4vTjkYun7061vYH4d60ZMG9KK2ZU-nwdf6pgRiYsbdCK3rUORVyVjSvnaaW97dEvSvALhfm9YtUosFU2q2FwScGhYRnw8UaC_8y_HbVNDN4TkweG8JFlIhpjeBFR22cdZNq0pu4JRNF6Ob0vdsKDK3ElOl8DWKXf5PI95rEmN5hyjaLF_QKhfnurvzQZbhVEVxig41dmYeCJyzvjbbkCNOjQwEZ0cAfBFN03yFcV8lSj4y3TbOvTESdcwvxbo4xJqRuLL6UE1FsulYfKSxha_xXP9JZ_rDayirI7bjV1SK1J2WVkXCj-gyWu1uPAQATQbkVFv6rzS53Q7eYSyQddhKr2d-PqWj7HVr04Uqa2P16WZIaJT9TlymnLMVin8PkmCwliLJfwmA-AY=/duoi-vay-than-691341.jpg"
                                 data-alt="Dưới váy thần"></div>
                            <div class="caption">
                                <h3>Dưới váy thần</h3> <small class="btn-xs label-primary">Full - 92 chương</small>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <a href="https://truyenfull.vn/ha-canh-tren-trai-tim-anh/"
                           title="Hạ cánh trên trái tim anh">
                            <div class="lazyimg"
                                 data-desk-image="https://static.8cache.com/cover/eJzLyTDWL_CusgjPDYksLfTMMa2qcg8NindOzs9wNopKC3ezMMrJ8ivO0vUPSslNyzF0dwko1i0sd0pPzNF1cgq2rPLPDfM2DXCOLymrMnSu8nDzcS-1LTcyNNXNMDYyAgDxKx72/ha-canh-tren-trai-tim-anh.jpg"
                                 data-image="https://static.8cache.com/cover/eJzLyTDWL_CusgjPDYksLfTMMa2qcg8NindOzs9wNopKC3ezMMrJ8ivO0vUPSslNyzF0dwko1i0sd0pPzNF1cgq2rPLPDfM2DXCOLymrMnSu8nDzcS-1LTcyNNXNMDYyAgDxKx72/ha-canh-tren-trai-tim-anh.jpg"
                                 data-alt="Hạ cánh trên trái tim anh"></div>
                            <div class="caption">
                                <h3>Hạ cánh trên trái tim anh</h3> <small class="btn-xs label-primary">
                                    Full - 87
                                    chương
                                </small>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3 col-md-2">
                        <a href="https://truyenfull.vn/dau-nha-nong/"
                           title="Dâu nhà nông">
                            <div class="lazyimg"
                                 data-desk-image="https://static.8cache.com/cover/eJzLyTDWTw92SjUNcCpxTPJKjtTNDMiuMo93dknJjiz2rQjxTiouj7CsSjMOT8txK3T19y3yLc9Kcc9IrcjzKs1Md00tLgzNNzJzCXbLyokvqsrIL022LTcyNNXNMDYyAgAM_yCA/dau-nha-nong.jpg"
                                 data-image="https://static.8cache.com/cover/eJzLyTDWTw92SjUNcCpxTPJKjtTNDMiuMo93dknJjiz2rQjxTiouj7CsSjMOT8txK3T19y3yLc9Kcc9IrcjzKs1Md00tLgzNNzJzCXbLyokvqsrIL022LTcyNNXNMDYyAgAM_yCA/dau-nha-nong.jpg"
                                 data-alt="Dâu nhà nông"></div>
                            <div class="caption">
                                <h3>Dâu nhà nông</h3> <small class="btn-xs label-primary">Full - 107 chương</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="footer">
        <div class="container">
            <div class="hidden-xs col-sm-5">
                <strong>Truyện Full</strong> - <a title="Đọc truyện online"
                                                  href="#">Đọc truyện</a> online, <a title="Đọc truyện chữ"
                                                                                     href="#">đọc truyện</a> chữ, <a title="Truyện hay"
                                                                                                                     href="#">truyện hay</a>. Website luôn cập nhật những bộ <a title="Truyện mới"
                                                                                                                                                                                href="#">truyện mới</a> thuộc các thể loại đặc sắc như <a title="Truyện tiên hiệp" href="#">truyện tiên hiệp</a>, <a title="Truyện kiếm hiệp" href="#">truyện kiếm hiệp</a>, hay
                <a title="Truyện ngôn tình" href="#">truyện ngôn tình</a> một
                cách nhanh nhất. Hỗ trợ mọi thiết bị như di động và máy tính bảng.
            </div>
            <ul class="col-xs-12 col-sm-7 list-unstyled">
                <li class="text-right pull-right">
                    <a class="backtop"
                       title="Trở lên đầu trang" href="#wrap" rel="nofollow" aria-label="Trở về đầu trang">
                        <span class="glyphicon glyphicon-upload"></span>
                    </a>
                </li>
                <li class="hidden-xs tag-list">
                    <a href="https://truyenfull.vn/danh-sach/tien-hiep-hay/"
                       title="truyện tiên hiệp hay">truyện tiên hiệp hay</a> <a href="https://truyenfull.vn/the-loai/he-thong/" title="truyện hệ thống">truyện hệ thống</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="~/main.js"></script>
    <noscript>
        <link rel="stylesheet" type="text/css" href="https://static.8cache.com/min/g/maincss-08122021_1.css" />
    </noscript>
    <script>$('head').append('<link rel="stylesheet" type="text/css" href="https://static.8cache.com/min/g/maincss-08122021_1.css"/>');</script>
</body>

</html>
