@using BookStory.Models
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

@{
    ViewBag.Title = "Home";
    Layout = "_StoryLayout";
}
<div class="container" id="intro-index">
    <div class="title-list">
        <a href="/Story/Search/Hot" title="Truyện hot">
            <span class="glyphicon glyphicon-fire"></span>
        </a>
        <h2><a href="/Story/Search/Hot" title="Truyện hot">Truyện hot</a></h2>
        <h2><a href="/Story/Search/New" title="Truyện mới">Truyện mới</a></h2>
        <h2><a href="/Story/Search/Full" title="Truyện full">Truyện full</a></h2>
        <form action="/Home/Index/" method="post">
            <select name="id" onchange="this.form.submit()" id="hot-select"
                    class="form-control new-select" aria-label="Chọn thể loại">
                <option value="0">Tất cả</option>
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.Cid" @(ViewBag.CurrentId == c.Cid ?"selected":"")>@c.Title</option>
                }
            </select>
        </form>
    </div>
    <div class="index-intro">
        @foreach (Story s in ViewBag.Stories)
        {
            <div class="item top-1" itemscope itemtype="">
                <a href="/Story/Detail/@s.Sid" itemprop="url">
                    <span class="@(s.Status == 1?"full-label":"")"></span><img src="@s.Image"
                                                                           alt="@s.Name" class="img-responsive item-img" itemprop="image">
                    <div class="title">
                        <h3 itemprop="name">@s.Name</h3>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
<div class="container" id="list-index">
    <div class="row text-center">
        <div id="banner-bio-link"></div>
    </div>
    <div class="hide" id="history-holder"></div>
    <div class="list list-truyen list-new col-xs-12 col-sm-12 col-md-8 col-truyen-main">
        <div class="title-list">
            <h2>
                <a href="#" title="Truyện mới cập nhật">Truyện mới cập nhật chương mới</a>
            </h2>
        </div>
        @foreach (var c in ViewBag.ListNewChapters)
        {
            <div class="row" itemscope )">
                <div class="col-xs-9 col-sm-6 col-md-5 col-title">
                    <span class="label-title label-new"></span>
                    <h3 itemprop="name">
                        <a href="/Story/Detail/@c.Key.Sid"
                       title="@c.Key.Name" itemprop="url">
                            @c.Key.Name
                        </a>
                    </h3>
                </div>
                <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888">
                    @foreach (var ct in @c.Value)
                    {
                        <a itemprop="genre"
                   href="/Story/Search/@ct.Cid" title="">@ct.Title</a>
                    }
                </div>
                <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info">
                    <a href="/Story/Content/@c.Key.Sid/@c.Key.Chapnumber"
                   title="@c.Key.Name - Chương @c.Key.Chapnumber">
                        <span class="chapter-text"><span>Chương </span></span>@c.Key.Chapnumber
                    </a>
                </div>
                <div class="hidden-xs hidden-sm col-md-2 col-time text-888 timer">@c.Key.UpdatedAt</div>
            </div>
        }
    </div>
    <div class="col-md-4 col-truyen-side">
        @{
            User u = null;
            string json = Context.Session.GetString("user");
            if (json != null) u = JsonConvert.DeserializeObject<User>(json);
        }
        @if (u != null && ViewBag.SaveChapters.Count > 0)
        {
            <div class="list list-truyen list-history col-xs-12">
                <div class="title-list">
                    <h2><a href="/Story/ListSaved/@u.Uid">Chương đã lưu</a></h2>
                </div>
                @foreach (Chapter c in ViewBag.SaveChapters)
                {
                    <div class="row">
                        <div class="col-md-5 col-lg-7">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <h3 itemprop="name">
                                <a title="@c.Name" href="/Story/Detail/@c.Sid">@c.Name</a>
                            </h3>
                        </div>
                        <div class="col-md-7 col-lg-5 text-info">
                            <a title="@c.Name Chương @c.Chapnumber" href="/Story/Content/@c.Sid/@c.Chapnumber">Đọc tiếp chương @c.Chapnumber</a>
                        </div>
                    </div>
                }
            </div>
        }
        <div class="visible-md-block visible-lg-block text-center">
            <div class="hide" id="history-holder-side"></div>
            <div class="list list-truyen list-cat col-xs-12">
                <div class="title-list">
                    <h4>Thể loại truyện</h4>
                </div>
                <div class="row">
                    @foreach (Category c in ViewBag.Categories)
                    {
                        <div class="col-xs-6">
                            <a href="/Story/Search/@c.Cid"
                           title="@c.Title">@c.Title</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="truyen-slide">
    <div class="list list-thumbnail col-xs-12">
        <div class="title-list">
            <h2>
                <a href="/Story/Search/Full" title="Truyện full">
                    Truyện đã hoàn
                    thành
                </a>
            </h2><a href="#"
                    title="Truyện full"><span class="glyphicon glyphicon-menu-right"></span></a>
        </div>
        <div class="row">
            @foreach (Story s in ViewBag.FullStories)
            {
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="/Story/Detail/@s.Sid"
                   title="@s.Name">
                        <div class="lazyimg"
                         data-desk-image="@s.Image"
                         data-image="@s.Image"
                         data-alt="@s.Name"></div>
                        <div class="caption">
                            <h3>@s.Name</h3> <small class="btn-xs label-primary">
                                Full -
                                @s.Chapters.Count Chương
                            </small>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
