@using BookStory.Models
@model X.PagedList.IPagedList<BookStory.Models.User>
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList.Mvc.Core
@{
    ViewBag.Title = "List User";
    Layout = "_AdminLayout";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-4">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@ViewBag.TotalStory</h3>

                            <p>Bộ truyện</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-4">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@ViewBag.TotalView</h3>

                            <p>Lượt đọc</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-4 col-4">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@ViewBag.TotalUser</h3>

                            <p>Tài khoản</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Danh sách người dùng</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Tên</th>
                                        <th>Email</th>
                                        <th>Vai trò</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (User u in Model)
                                    {
                                        <tr>
                                            <td>@u.Uid</td>
                                            <td>@u.Name</td>
                                            <td>@u.Email</td>
                                            @if (@u.Role == 1)
                                            {
                                                <td>Admin</td>
                                            }
                                            else
                                            {
                                                <td>Người dùng</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @Html.PagedListPager(Model, id => Url.Action("ListUser", new { id }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
    </section>
</div>
